<% flash.each do |key, value| %>
  <%# <%= content_tag(:div, value, class: "flash flash__#{key} alert alert-danger") %>
  <div class="flash flash_<%= key %> alert alert-danger alert-dismissible">
    <%= value %>
    <button type="button" class="close" data-dismiss="alert" area-label="閉じる">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
