#question-container{
  width: 100%;
  padding: 50px 0 80px 0;
  max-width: 710px;
  margin: 0 auto;
}
.question{
  padding: 10px;
  .card{
    border-width: 2px;
    border-color: black;
    transform: translateY(3px);
    transition: 0.3s;
  }
  .card:hover{
    border-color: red;
    transform: translateY(-3px);
    transition: 0.3s;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .title{
    font-size: 22px;
    line-height: 2;
  }
  a { text-decoration: none;}
  a:hover { 
    text-decoration: none;
  }
}
